@import "tailwindcss";

.bg-mix{
    background-image: linear-gradient(155deg, #0ea5e9 25%, rgb(20, 184, 166, 0.7) 80%);
    color: white;
}

.text-shadow-man{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
